.food-container {
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding: 20px;
}

.food-container h1 {
  text-decoration: underline;
  margin-bottom: 10px;
}

.food li {
  color: white;
  list-style-type: none;

  display: grid;
  grid-template-columns: 90% 10px;
}

.price {
  color: rgb(238, 67, 37);
}
