.menu-container {
  background-color: #1a1814;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu-container h1 {
  font-size: 20;
  color: white;
}

.menu-container img {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.food-section-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
}

.food-description {
  width: 500px;
}

.food-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  max-width: 400px;
}
.menu-group {
  position: relative;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 50px;
  padding: 30px;
}

.food-group {
  font-size: 20px;
  position: absolute;
  top: -27px;
  left: 50px;
  background-color: #1a1814;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 5px;
}

.food-name {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 700px;
  max-width: 500px;
}

.item-name::after {
  content: "......................";
  position: relative;
  top: 1px;
  z-index: 0;
  color: #bab3a6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
  display: inline-block;
}

.item-name {
  color: white;
  font-weight: bold;
  position: relative;
  margin-bottom: 5px;
  font-size: 17px;
}

.price {
  color: #ed3c23;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1a1814;
  z-index: 2;
  text-align: right;
  font-weight: bold;
  font-size: 17px;
  margin-left: 10px;
}

.desc {
  color: rgba(255, 255, 255, 0.5);
}

.food-description p {
  margin-bottom: 20px;
}

.food-group-desc {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
